<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>LearnFlow- Reset Password</title>

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  >
</head>



<body>
  <div class="auth-container">
    <div class="auth-card">
      <div class="logo">
        <h1>LearnFlow</h1>

        <p>Create your new password</p>
      </div>

      <h2>Reset Password</h2>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="message">
              {{ message }}
            </p>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <p class="reset-info">
        Enter the new password that you want to use.
      </p>

      <form method="POST">
        <div class="input-group">
          <label for="new_password">
            New Password
          </label>

          <input
            type="password"
            id="new_password"
            name="new_password"
            placeholder="Enter your new password"
            minlength="6"
            required
          >
        </div>

        <button
          type="submit"
          class="main-button"
        >
          Save New Password
        </button>
      </form>

      <p class="bottom-text">
        <a href="{{ url_for('dashboard') }}">
          ← Back to Dashboard
        </a>
      </p>
    </div>
  </div>
  <footer class="site-footer">
    <p>Crafted by <strong>Sayed Arsalan Zaheer</strong></p>
</footer>
</body>
</html>